// Colors
$light-gray: #333346;
$medium-gray: #323139;
$dark-gray: #000011;
$off-white: #F4F4F4;
$red: #D63B3E;
$gold: #E8B117;
$turquoise: #32A69D;
$purple: #914DCE;
$light-blue: #3399CC;
$background-dark: linear-gradient(70deg, #171717, #3a3a4a);

// Font Size
$font-size-xlarge: 2.0rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Header & Navigation
$header-height: 80px;
$nav-height: 90px;